<!-- battle-screen.component.html -->

<div class="game-info">
  <h2>Rodada {{ currentRound }}</h2>

  <ul class="players-list">
    @for(player of players; track $index) {
    <li
      class="player"
      [ngClass]="{ 'current-player': player === currentPlayer }"
    >
      {{ player }}
    </li>
    }
  </ul>
</div>

<div class="grid-container">
  @for (row of grid; track $index) {
  <div class="grid-row">
    @for (cell of row; track $index) {
    <div class="grid-cell" [ngClass]="'terrain-' + cell.terrain">
      <!-- <div class="grid-index">{{ cell.x }}, {{ cell.y }}</div> -->

      <div
        (click)="showMoveArea(cell.character[0], cell.position)"
        *ngIf="cell.character.length == 1"
      >
        <div class="one-unit">
          <div
            *ngIf="isWalkable(cell.position.x, cell.position.y)"
            class="walkable-overlay"
          ></div>
          <div
            *ngIf="isAttackable(cell.position.x, cell.position.y)"
            class="attacking-overlay"
          ></div>
          <img [src]="cell.character[0].appearance" width="32px" />
        </div>
      </div>

      <div
        (click)="showMoveArea(cell.character[0], cell.position)"
        *ngIf="cell.character.length == 2"
      >
        <div class="two-units">
          <img
            class="bottom-left"
            [src]="cell.character[0].appearance"
            width="32px"
          />
          <img
            class="top-right"
            [src]="cell.character[1].appearance"
            width="32px"
          />
          <div
            *ngIf="isWalkable(cell.position.x, cell.position.y)"
            class="walkable-overlay"
          ></div>
          <div
            *ngIf="isAttackable(cell.position.x, cell.position.y)"
            class="attacking-overlay"
          ></div>
        </div>
      </div>

      <div *ngIf="cell.character.length == 0">
        <div class="warning-overlay">
          <div
            *ngIf="isWalkable(cell.position.x, cell.position.y)"
            class="walkable-overlay"
          ></div>
          <div
            *ngIf="isAttackable(cell.position.x, cell.position.y)"
            class="attacking-overlay"
          ></div>
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>

<div>
  <img [src]="redTeamSprites.archer" />
  <img [src]="redTeamSprites.cavalier" />
  <img [src]="redTeamSprites.cleric" />
  <img [src]="redTeamSprites.fighter" />
  <img [src]="redTeamSprites.guardian" />
  <img [src]="redTeamSprites.mage" />
  <img [src]="redTeamSprites.monk" />
  <img [src]="redTeamSprites.pegasus" />
  <img [src]="redTeamSprites.rogue" />
</div>

<div>
  <img [src]="blueTeamSprites.archer" />
  <img [src]="blueTeamSprites.cavalier" />
  <img [src]="blueTeamSprites.cleric" />
  <img [src]="blueTeamSprites.fighter" />
  <img [src]="blueTeamSprites.guardian" />
  <img [src]="blueTeamSprites.mage" />
  <img [src]="blueTeamSprites.monk" />
  <img [src]="blueTeamSprites.pegasus" />
  <img [src]="blueTeamSprites.rogue" />
</div>

<div>
  <img [src]="greenTeamSprites.archer" />
  <img [src]="greenTeamSprites.cavalier" />
  <img [src]="greenTeamSprites.cleric" />
  <img [src]="greenTeamSprites.fighter" />
  <img [src]="greenTeamSprites.guardian" />
  <img [src]="greenTeamSprites.mage" />
  <img [src]="greenTeamSprites.monk" />
  <img [src]="greenTeamSprites.pegasus" />
  <img [src]="greenTeamSprites.rogue" />
</div>
